@using MvcCv.Models.Entity
@model List<TblAbout>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Profil Düzenleme Sayfası</h2>
<br />
<form method="post">
    @foreach (var item in Model)
    {
        <label>Ad</label>
        <input type="text" name="Name" value="@item.Name" class="form-control" />
        <br />
        <label>Ad</label>
        <input type="text" name="Surname" value="@item.Surname" class="form-control" />
        <br />
        <label>Adres</label>
        <input type="text" name="Adress" value="@item.Adress" class="form-control" />
        <br />
        <label>Telefon</label>
        <input type="text" name="Phone" value="@item.Phone" class="form-control" />
        <br />
        <label>Mail</label>
        <input type="text" name="Email" value="@item.Email" class="form-control" />
        <br />
        <label>Resim</label>
        <input type="text" name="Image" value="@item.Image" class="form-control" />
        <br />
        <label>Açıklama</label>
        <textarea rows="5" class="form-control" name="Description">@item.Description</textarea>


    }

    <br />
    <button class="btn btn-outline-success">Güncelle</button>
    <br />
    <br />

</form>